body {
    font-family: Arial, sans-serif;
    background-color: mintcream;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    color: #333;
}
.img-adm-ins{
    border-radius: 220px;
    border: double 5px;
    width: 100px;
    height: 100px;
    margin-left: 146Px;
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 16px 6px 6px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 409px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:darkseagreen;
    border: double black;
}
