*{
    font-family: 'Poppins', 'sans-serif';
}.wrapper{
    background-color: #ececec;
    padding: 0 20px 0 20px;
}.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}.img{
    width: 35px;
    position: absolute;
    top: 30px;
}.side-image{
    background-image: url(../img/ecole.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px 0 0 10px;
}img{
    width: 35px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: 30px;
}