@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Urbanist', 'sans-serif';
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: currentColor;
}

a:hover{
    color: currentColor;
}

header{

    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 25%);
}

header .container-fluid{

    width: 100%;
    padding: 4px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navb-logo .img-logo{
    height: 91px;
    width: 77px;
    border-radius: 50%;
}

header .navb-items{

    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item{

    text-align: center;
    margin-inline: 15%;
    font-size: 20px;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0 solid #64D6F4;
    border-top: 0 solid #64D6F4;
    cursor: pointer;
}

header .item:hover{
    border-bottom: 3px solid #64D6F4;
    border-top: 3px solid #64D6F4;
}