<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_navbar.css') }}">
    <title>{% if title is defined %}{{ title }}{% else %}Blaise Pascal{% endif %}</title>
</head>
<body>
    <header>
        <a href="" class="logo">My Logo</a>
        <div class="menu-bar">
            <ul>
                <li class="active" ><a href="#">Etablissement</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Mot du Proviseur</a></li>
                            <li><a href="#">Organigrame</a></li>
                            <li><a href="#">Règlement intérieur</a></li>
                            <li><a href="#">Nos Resultat</a></li>
                            <li><a href="#">Les offres d'emploi</a></li>
                            <li><a href="#">Historique</a></li>
                            <li class="hover-me"><a href="#">Vie de l'établissement</a><ion-icon class="chevron" name="chevron-forward-outline"></ion-icon>
                                <div class="sub-menu-2">
                                    <ul>
                                        <li><a href="#">Geste 1er secours</a></li>
                                        <li><a href="#">Journal de l'école</a></li>
                                        <li><a href="#">Anciens élèves</a></li>
                                        <li><a href="#">Maison Des Elèves</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Primaire</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Mot du Proviseur</a></li>
                            <li><a href="#">Organigrame</a></li>
                            <li><a href="#">Règlement intérieur</a></li>
                            <li><a href="#">Nos Resultat</a></li>
                            <li><a href="#">Historique</a></li>
                            <li><a href="#">Vie de l'établissement</a></li>
                            <li><a href="#">Les offres d'emploi</a></li>
                            <li><a href="#">Section International</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Secondaire</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Section sportive</a></li>
                            <li><a href="#">REFORME DU LYCEE</a></li>
                            <li><a href="#">Structure</a></li>
                            <li><a href="#">parcoursup</a></li>
                            <li><a href="#">Tutorat</a></li>
                            <li><a href="#">Vie scolaire</a></li>
                            <li><a href="#">Les offres d'emploi</a></li>
                            <li><a href="#">Section International</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Scolarité</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Règlement intérieur</a></li>
                            <li><a href="#">Infirmerie</a></li>
                            <li><a href="#">Manuels et fournitures</a></li>
                            <li><a href="#">Tarifs et Réglement financier</a></li>
                            <li><a href="#">Activités Péri-éducatives</a></li>
                            <li><a href="#">Inscription, Ré-inscription et départs</a></li>
                            <li><a href="#">Horaires</a></li>
                            <li><a href="#">Secrétariat</a></li>
                            <li><a href="#">Calendrier scolaire</a></li>
                        </ul>
                    </div>
                </li>
                
            </ul>
        </div>
    </header>

    <div class="container">
        {% block content %} {% endblock %}
    </div>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>