<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>Blaise Pascal</title>

</head>
<body>

    <nav>
        <nav>
            <img class="img" src="/static/img/blaise pascal.jpg" alt="">&nbsp;&nbsp;&nbsp;&nbsp;<h1>Blaise Pascal</h1>
            <a href="/">Accueil</a>
            <a href="/activites">Activités</a>
            <a href="/calendrier">Calendrier</a>
            <a href="/contact">Contact</a>
            <a href="/contact">Profil</a>
        </nav>
    </nav>
</body>
</html>
    

