<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title is defined %}{{ title }}{% else %}Blaise Pascal{% endif %}</title>
</head>
<body>
    <h1>Bienvenu sur la page >>>></h1>
    <a href="/login">Connexion</a>
    <a href="/dashboard_Profs">dashboard_Profs</a>
    <a href="/inscription_admin.html">inscription_admin</a>
    <a href="/inscription_eleves">inscription_élèves</a>
    <a href="/inscription_profs">inscription_profs</a>
</body>
</html>